.Appart{
    display: flex;
    flex-direction: column;
    height: 337px;
}

.AppartTop{
    height: 70%;
    width: 100%;
}

.AppartBottom{
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}
    
.AppartImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
    
.AppartBottomLeft{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: none;
    padding: 0px;
    height: 100%;
}
    
.AppartBottomRight{
    width: 20%;
}



.AppartLocation,
.AppartType,
.AppartAvailableTime,
.AppartPrice {
  margin: 0;}

.AppartLocation{
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
}

.AppartType{
    font-size: 12px;
    color: gray;
    padding-top: 5px;
}

.AppartAvailableTime{
    font-size: 12px;
    color: gray;
}

.AppartPrice{
    padding-top: 5px;
    font-size: 15px;
    font-weight: bold;
}

.StarRating{
    font-size: 15px;
    font-weight: bold;
}