.Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: auto;
}

.FooterListL{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.FooterListR{
    display: flex;
    flex-direction: row;
    gap: 30px;
}